body {
    margin: 0;
    padding: 0;
}

.search {
    font-family: Arial, Helvetica, sans-serif;
}

.search__error {
    color: red;
    display: none;
}

.serch__error:invalid {
    display: block;
}

.search__label {
    display: none;
}

.search__field {
    padding: 1em;
    position: relative;
}

.search__input {
    position: absolute;
    padding: 1em;
    border: 1px solid black;
    width: 85%;
}


.search__icon {
    position: absolute;
    right: 45px;
    top: 25px;
}


@media screen and (min-width: 600px) {
    .search__input {
        width: 90%;
    }
}

@media screen and (min-width: 800px) {
    .search__input {
        width: 95%;
    }
}

@media screen and (min-width: 1200px) {
    .search__input {
        width: 100%;
    }
}